.lead {
    display: flex;
    width: calc(100% - 296px);
    margin: 0 auto;
    padding-bottom: 92px;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
  }
  
@media screen and (max-width: 860px){
    .lead {
        min-width: 100%;
        padding-bottom: 88px;
     }
 }
 
@media screen and (max-width: 540px){
    .lead {
        padding-bottom: 64px;
     }
 }