.header__logo{
    background-image: url("../../../images/logo-header/__logo.svg");
    width: 271px;
    height: 72px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 510px) {
    .header__logo {     
      width: 200px;
      height: 51px;
    }
  }