.cover__button {
    background-color: #0278fe;
    width: 137px;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
    color: white;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    padding: 13px 20px;
    text-decoration: none;
    font-weight: 600;
    z-index: 2;
  }
  
  .cover__button:hover {
    background-color: #0063d2;
  }
  
  @media screen and (max-width: 540px) {
    .cover__button {
      margin: 0 auto 45px;
      
    }
  }