.cover__button-purchase{
    width: 137px;
    height: auto;
    color: white;
    margin: 0 auto;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    padding: 13px 20px;
    text-decoration: none;
}

@media screen and (max-width: 400px) {
  .cover__button-purchase{
    margin: 0 auto 45px;
   }
}