.cover__info{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 0 auto;
}

@media screen and (max-width: 650px){
    .cover__info{
        margin: 46px 16px 45px;
        gap: 16px;
    }
}