.lead__image{
width: 100%;
margin: 0 auto;
background-color: #000;
mix-blend-mode: luminosity;
}

 
@media screen and (max-width: 860px){
    .lead__image {
        min-width: 100%;
        margin: 0 auto;
     }
 }
 
@media screen and (max-width: 540px){
    .lead__image {
        margin: 0 auto;
     }
 }