.cover{
    margin: 92px auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.cover:hover .cover__background-effect {
  opacity: 0.2;
}

@media screen and (max-width: 860px) {
  .cover {
    margin: 0 auto;

  }
}


