.cover{
  background-image: url(../../images/footer_image.png);
  background-repeat: no-repeat;
  background-position: center center;
    width: 100%;
    min-height: 740px;
    display: flex;
    position: relative;
    text-align: center;
    margin: 92px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 860px) {
    .cover {
      margin: 88px auto;

    }
  }
  @media screen and (max-width: 680px) {
    .cover {
      max-width: 100%;
      min-height: 254px;
      margin: 88px 0;
    }
  }
