.cover{
    margin: 92px auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.cover:hover .cover__background-effect {
  opacity: 0.2;
}

@media screen and (max-width: 1279px) {
  .cover{
  margin: 88px auto;
  }
}
@media screen and (max-width: 767px) {
  .cover{
    margin: 64px auto;
  }
}

