.place {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "title artist"
        "img text-area"
        "btn text-area";
    grid-gap: 48px 40px;
    margin: 0 0 80px;
}

.place:last-child {
    margin-bottom: 0;
  }

@media screen and (max-width: 970px) {
    .place {
      grid-column-gap: 28px;
    }
  }
  
@media screen and (max-width: 650px) {
    .place {
      margin: 0 0 48px;
      display: flex;
      flex-direction: column;
      grid-gap: 0;
    }
  }
